.container{
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding-bottom: 40px;
    margin-top: -30px;
    margin-bottom: 40px;
}

.container > h1{
    text-align: center;
}

.container > p, .text-comment{
    text-indent: 30px;
}

.butt-signin{
    float: right;
    margin: 40px 20px 20px 10px;
}

#msgerror{
    font: bold 14px sans-serif;
    color: red;
    padding: 10px 0px 10px 15px;
    background-color: #FDE5E0;
    border: 1px solid #FDCDC3;
    margin-top: 0px;
}

#block-pass-login{
    width: 285px;
    height: auto;
    border: 1px solid #E5E5E5;
    background-color: #F2F2F2;
    margin: 100px auto;
}

#pass-login > li{
    list-style-type: none;
    margin-top: 10px;
    margin-left: -30px;
}

#pass-login label{
    font: 15px sans-serif;
    position: absolute;
    margin-top: 4px;
}

#pass-login input{
    width: 200px;
    height: 24px;
    margin-left: 60px;
    border: 1px solid #D6D6D6;
    font: 17px sans-serif;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
}

#submit_enter{
    margin-right: 10px;
}

#username{
    font-size: 20px;
    color: #949494;
    float: right;
    margin: 45px 0px 20px 20px;
}

.block-new-comment{
    padding-left: 40px;
    padding-top: 20px;
    width: 99%!important;
}

.block-comment{
    padding-left: 40px;
    padding-top: 20px;
}

.username-comment{
    font-size: 20px;
    color: #1d96ff;
}

.userdate-comment{
    color: #b9b9b9;
    margin-left: 10px;
    margin-right: 20px;
}

.butt-answer,.edit-comment{
    cursor: pointer;
}

.img-delete{
    width: 15px;
    cursor: pointer;
    margin-top: -3px;
    margin-right: 10px;
}

.radio-rate{
    cursor: pointer;
}

#add-new-comment, .save-edit-comment, .save-answer{
    float: right;
    margin-top: 10px;
}

.add-rate{
    width: 57px;
    height: 16px;
    font-size: 10px;
    margin-top: -10px;
}

.rating{
    font-style: italic;
    margin-right: 10px;
    margin-left: 20px;
    color: #7b7b7b;
}

.edit-comment-textarea{
    width: 50%;
    margin-left: 50px;
}